.keyboard {
  border-radius: 3px;
  width: 152px;
  height: 84px;
  overflow: hidden;
  position: relative;
  box-shadow: var(--box-shadow);
}

.white-key,
.black-key {
  width: 20px;
  height: 100%;
  position: absolute;
}

.white-key {
  background: var(--background);
}

.black-key {
  background: var(--on-background);
  top: -50%;
}

.black-key::before {
  background: var(--on-background);
  content: ' ';
  width: 20px;
  height: 20px;
  transform: scale(0.7, 0.2) rotate(45deg);
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 3px;
}

.white-key::after,
.black-key::after {
  content: ' ';
  position: absolute;
  bottom: 5px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--secondary);
}

.white-key.on::after,
.black-key.on::after {
  background-color: var(--primary);
}
