.knob {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 7px;
  /* background: var(--background); */
  background: url(/assets/knob.svg);
  background-size: contain;
  position: relative;
}

.knob::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 14px;
  height: 4px;
  background: var(--secondary);
  top: 12px;
  left: 2px;
  border-radius: 2px;
}

.knob::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow: 0 0 7px #000;
  background: var(--background);
}
