.module {
  background-color: var(--secondary);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.75);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

.module.active {
  filter: none;
}

.module-name {
  width: 100%;
  background-color: var(--primary);
  font-weight: bold;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.module-body {
  padding: 0px 40px;
  display: flex;
  min-height: 60px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
