.keyboard {
  border-radius: 3px;
  width: 673px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.white-key,
.black-key {
  width: 48px;
  height: 100%;
  position: absolute;
  border: 2px solid #ccc;
}

.white-key {
  background: var(--on-background);
}

.black-key {
  background: var(--background);
  top: -50%;
  border-radius: 3px;
}
