@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400&display=swap');

:root {
  --primary: #e85d00;
  --primary-variant: #ff45ca;
  --primary-variant2: #00d115;
  --secondary: #444444;
  --secondary-variant: #ffffff;
  --background: #111111;

  --on-primary: #111111;
  --on-secondary: #ffffff;
  --on-background: #ffffff;

  --box-shadow: 0 2px 0 #666, 0 2px 8px rgba(0, 0, 0, 0.4);
  --inset-box-shadow: inset 0 2px 0 #666, inset 0 2px 8px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  font-size: 16px;
  box-sizing: border-box;
  color: var(--on-background);
  font-family: 'Gemunu Libre', sans-serif;
  text-shadow: 0 1px 0px #000;
}

button {
  cursor: pointer;
  text-decoration: underline;
}

body,
html {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
}

textarea,
input[type='text'],
input[type='password'] {
  background: var(--background);
  border-radius: 2px;
  padding: 2px 4px;
  text-transform: none;
  margin-top: -2px;
  margin-bottom: -2px;

  box-shadow: inset var(--box-shadow);
  transform-origin: bottom left;
}
