@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url('/assets/fonts/MaterialSymbols.woff2') format('woff');
}

@font-face {
  font-family: 'Gemunu Libre';
  font-style: normal;
  src: url('/assets/fonts/GemunuLibreRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gemunu Libre';
  font-weight: bold;
  font-style: normal;
  src: url('/assets/fonts/GemunuLibreBold.ttf') format('truetype');
}

:root {
  --primary: #e85d00;
  --primary-variant: #ff45ca;
  --primary-variant2: #00d115;
  --secondary: #444444;
  --secondary-variant: #ffffff;
  --background: #111111;

  --on-primary: #111111;
  --on-secondary: #ffffff;
  --on-background: #ffffff;

  --box-shadow: 0 2px 0 #666, 0 2px 8px rgba(0, 0, 0, 0.4);
  --inset-box-shadow: inset 0 2px 0 #666, inset 0 2px 8px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Gemunu Libre', sans-serif;
  text-shadow: 0 1px 0px #000;
}

body,
html {
  overflow: hidden;
  width: 100vw;
  position: relative;
  overscroll-behavior: none;
  color: var(--on-background);
  background: #000;
}

h2 {
  font-size: 24px;
}

hr {
  border-top: 1px solid #888;
  border-bottom: 1px solid #222;
  margin: 24px 0;
}

textarea,
input[type='text'],
input[type='email'],
input[type='password'] {
  background: var(--background);
  border-radius: 2px;
  padding: 8px;
  text-transform: none;
  box-shadow: var(--inset-box-shadow);
  color: var(--on-background);
}

button,
input[type='button'] {
  cursor: pointer;
  color: var(--on-background);
}
