.hint {
  position: absolute;
  top: -20px;
  left: 4px;
  z-index: 1000;
  font-size: 12px;
  padding: 2px 4px;
  pointer-events: none;
  border-radius: 2px;
  text-shadow: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background: var(--on-background);
  color: var(--background);
  opacity: 0;
  transition: opacity 0.1s ease-out;
  pointer-events: none;
}

.hint.visible {
  opacity: 1;
  transition: none;
  pointer-events: all;
}
