.bouncy-boi {
  display: flex;
  flex-direction: row;
  margin-right: 24px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 8px;
}

.bouncy-boi canvas {
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
