.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 40px;
}

.connector {
  width: 20px;
  margin: 0 1px;
  height: 0;
  border-bottom: 1px solid #222;
  border-top: 1px solid #888;
  position: relative;
  top: 14px;
}

.controls {
  display: flex;
  flex-direction: column;
}
