.knobs {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.separator {
  border-right: 1px solid #888;
  border-left: 1px solid #222;
}

.knob-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.label {
  font-size: 12px;
}
