.piano-roll {
  display: flex;
  flex-direction: row;
}

.knobs {
  display: flex;
  flex-direction: column;
  width: 48px;
  justify-content: space-evenly;
}

.preview {
  width: 300px;
  height: 160px;
  overflow: hidden;
  border-radius: 3px;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  border-top: 2px solid #666;
  cursor: pointer;
}
