.sampler {
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.canvases {
  background: #000;
  position: relative;
  height: 100px;
  width: 300px;
  border-radius: 4px;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  border-top: 2px solid #666;
  overflow: hidden;
  margin-bottom: 8px;
}

.canvases canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.knob-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 10px;
}
