.sequencer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 10px 40px;
}

.steps {
  width: 100%;
  margin-bottom: 10px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.row:first-child {
  border-bottom: 2px solid var(--secondary-variant);
}

.group {
  display: flex;
  flex-direction: row;
  padding: 0 2px;
  border-right: 2px solid var(--secondary-variant);
}

.group:last-child {
  border: none;
}

.indicator {
  width: 8px;
  height: 8px;
  margin: 0 2px;
  border-radius: 50%;
  background: var(--background);
  box-shadow: var(--box-shadow);
}

.indicator.current {
  background: var(--primary-variant2);
}

.disabled {
  opacity: 0.2;
}

.indicator.on {
  background: var(--primary);
}

.indicator.on.current {
  background: yellow;
}

.middle {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.octaves {
  width: 10px;
  display: flex;
  flex-direction: column;
}

.octaves .indicator {
  margin: 2px 2px;
}

.note-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
}
