.module-selector {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 200px;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  z-index: 20;
  opacity: 0;
  pointer-events: none;
}

.module-selector.open {
  opacity: 1;
  pointer-events: initial;
}

.filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.filter input {
  width: 100%;
  margin-left: 10px;
}

.module-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background-color: var(--secondary-variant);
  border-radius: 2px;
  padding: 2px 4px;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  flex-grow: 0;
}
