.user-bar {
  padding: 5px 10px;
}

.global-volume {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  text-transform: uppercase;
}

.login-button {
  padding: 4px 8px;
  border-radius: 2px;
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
  text-shadow: none;
  color: #fff;
  font-weight: bold;
}
