.login,
.sign-up {
  right: 0;
  top: 48px;
  width: 300px;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: absolute;
  box-shadow: var(--box-shadow);
}

.login button,
.sign-up button {
  background-color: var(--secondary-variant);
  border-radius: 2px;
  padding: 0 2px;
}

.error {
  margin-bottom: 10px;
  color: red;
}

.login::after,
.sign-up::after {
  content: ' ';
  width: 10px;
  height: 10px;
  background-color: var(--secondary);
  right: 25px;
  top: -5px;
  position: absolute;
  transform: rotate(45deg);
}

.sign-up::after {
  right: 90px;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.field input {
  width: 70%;
}

.loading {
  opacity: 0.5;
  pointer-events: none;
}
