.menu-bar {
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  position: absolute;
  box-shadow: var(--box-shadow);
  z-index: 20;
  align-items: center;
  gap: 8px;
}

.vertical-divider {
  border-right: 1px solid #888;
  border-left: 1px solid #222;
  height: 24px;
}
