.utility-box {
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  position: absolute;
  box-shadow: var(--box-shadow);
  z-index: 20;
  bottom: 10px;
  right: 10px;
}

.controls {
  margin: 0 10px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.canvas {
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
