.utility-box {
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  position: absolute;
  box-shadow: var(--box-shadow);
  z-index: 20;
  bottom: 10px;
  right: 10px;
}

.canvas {
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}
