.brand {
  margin: -10px 0 -10px -10px;
  padding: 10px;
  background-color: var(--primary);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.patch-name {
  display: flex;
  flex-direction: row;
  min-width: 200px;
}

.menu-button {
  margin-left: 72px;
}

.menu {
  left: 0;
  top: 48px;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: absolute;
  box-shadow: var(--box-shadow);
  width: 400px;
}

.menu::after {
  content: ' ';
  width: 10px;
  height: 10px;
  background-color: var(--secondary);
  left: 84px;
  top: -5px;
  position: absolute;
  transform: rotate(45deg);
}

.patch-settings {
  width: 50%;
}

.patch-settings .name input {
  margin-left: 10px;
}

.patch-settings .description {
}

.menu .item {
  margin-bottom: 10px;
}

.menu .item:last-child {
  margin-bottom: 0;
}

.menu-icon {
  height: 24px;
  width: 24px;
  position: relative;
}

.actions {
  height: 36px;
  margin: -10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.separator {
  height: 100%;
  border-right: 1px solid #888;
  border-left: 1px solid #222;
}

.menu-icon .label {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding: 2px 4px;
  border-radius: 2px;
  text-shadow: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background: var(--on-background);
  color: var(--background);

  transition: opacity 0.1s ease-out;
}

.menu-icon:hover .label {
  opacity: 1;
  transition: none;
}
