.brand {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: var(--on-primary);
  background-color: var(--primary);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.patch-details {
  margin-left: 72px;
  display: flex;
  flex-direction: row;
}

.patch-details input {
  margin-left: 10px;
}
