.context-menu {
  width: 240px;
  background-color: #ccc;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
}

.context-menu.open {
  opacity: 1;
  transition: none;
  pointer-events: all;
}

.group {
  width: 100%;
  padding: 4px 8px;
  background-color: var(--secondary);
  color: #fff;
  margin-bottom: 4px;
  font-size: 12px;
  text-transform: uppercase;
}

.items {
  padding: 4px 8px;
}

.category {
  margin-bottom: 4px;
}

.label {
  text-shadow: none;
  color: var(--background);
  margin-bottom: 4px;
  font-size: 12px;
  text-transform: uppercase;
}

.item {
  background-color: var(--secondary-variant);
  color: var(--background);
  text-shadow: none;
  border-radius: 2px;
  padding: 2px 4px;
  text-decoration: none;
  margin-right: 4px;
  margin-bottom: 4px;
  flex-grow: 0;
  font-weight: bold;
}

.item:hover {
  color: var(--on-background);
  background-color: var(--primary);
  font-weight: bold;
  text-shadow: inherit;
}
