.login-form {
  background-color: var(--secondary);
  padding: 32px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  width: 300px;
  position: relative;
}

.close-button {
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 32px;
  width: 32px;
  background: var(--primary);
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 24px;
  cursor: pointer;
}

.header {
  margin-bottom: 16px;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  text-transform: uppercase;
  font-size: 12px;
}

.form button {
  padding: 4px 8px;
  border-radius: 2px;
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
  margin-bottom: 8px;
  cursor: pointer;
}

.alt-actions button {
  text-decoration: underline;
  cursor: pointer;
}
